@font-face {
   font-family: 'Modern Deco';
   font-display: swap;
   src: url('Modern Deco/font.ttf');
}
@font-face {
   font-family: 'Helvetica-01';
   font-display: swap;
   src: url('Helvetica-01/font.ttf');
}
